# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add import "dotenv/config"; to your prisma.config.ts file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="local_dev_secret_change_me"
NEXTAUTH_URL="http://localhost:3000"
APP_NAME="Sistema Contable Iglesia"
DEFAULT_CURRENCY="CLP"
GOOGLE_APPS_SCRIPT_WEBHOOK_URL="https://script.google.com/macros/s/<script_hash>/exec"
GOOGLE_APPS_SCRIPT_SECRET="Sargento_aldea_170"
GOOGLE_DRIVE_FOLDER_ID="local_dev_secret_change_me"
GOOGLE_SHEET_ID="local_dev_secret_change_me"
NOTIFICATION_EMAIL="contabilidadpibt@gmail.com"
GMAIL_SENDER_NAME="Sistema Contable Iglesia 1 Bautista Talcahuano"
SEED_DEFAULT_PASSWORD="Admin12345!"